---
import ChapterLayout from '../../components/ChapterLayout.astro';
import ChapterNavigation from '../../components/ChapterNavigation.astro';
import { getChapterConfig } from '../../config/chapters';

export interface Props {
  title?: string;
  description?: string;
}

const { 
  title = 'Biogeokemijski ciklus dušika',
  description = 'Sadržaj poglavlja 18 - Biogeokemijski ciklus dušika'
} = Astro.props;

const chapterConfig = getChapterConfig(18);
---

<ChapterLayout 
  title={title} 
  description={description} 
  chapterNumber={18}
  primaryColor="fuchsia"
  prevLink="/poglavlje-18/" 
  nextLink="/poglavlje-19/" 
  prevText="← Poglavlje 18" 
  nextText="Poglavlje 19 →" 
  ctaTitle="Nastavi na sljedeće poglavlje" 
  ctaDescription="Nastavite s učenjem i upoznajte GMO." 
  ctaPrimaryText="Poglavlje 19" 
  ctaPrimaryLink="/poglavlje-19/" 
  ctaSecondaryText="Povratak na pregled" 
  ctaSecondaryLink="/poglavlje-18/"
  showBreadcrumb={true}
  breadcrumbPath={[
    { name: 'Sadržaj', url: '/sadrzaj/' },
    { name: 'Poglavlje 18', url: '/poglavlje-18/' },
    { name: 'Biogeokemijski ciklus dušika', url: '/poglavlje-18/biogeokemijskiciklusduika/' }
  ]}
>
  <!-- Navigacija kroz poglavlje -->
  <ChapterNavigation 
    chapterNumber={18} 
    currentSection="biogeokemijski-ciklus-dušika" 
    chapterTitle="Biotehnologija"
  />

  <!-- Sadržaj poglavlja -->
  <div class="prose prose-lg max-w-none">
    


Ciklus dušika u prirodi (slika 72) započinje ugradnjom molekularnog dušika iz atmosfere u stanice određenih vrsta bakterija kroz procese nazvane biološka fiksacija dušika. Fiksacija dušika može biti asimbiotska, a ostvaruju je slobodno živuće bakterije u vodi i tlu, aerobi (*Azotobacter*, *Azomonas*, *Spirillum*), fakultativni anaerobi (*Enterobacter*, *Klebsiella*) ili obligatni anaerobi (*Clostridium pasteurianum*). Simbiotsku fiksaciju dušika ostvaruju bakterije roda *Rhizobium* i *Bradyrhizobium* u simbiozi s biljkama većinom iz porodice lepirnjača (Leguminoseae). Bakterije fiksatori dušika amonijev ion (NH<sub>4</sub><sup>+</sup>) predaju biljkama za sintezu organskog dušika, a na njih se nastavljaju sve više trofičke razine.

Razgradnjom svih živih organizma, što čine bakterije amonifikatori (organoheterotrofi) procesom deaminacije ili amonifikacije nastaje amonijev ion. Amonijev ion u aerobnim uvjetima podliježe oksidaciji pomoću bakterija kemolitoautotrofa do nitrita (nitrifikacija 1. faze, *Nitrosomonas*) i nitrata (nitrifikacija 2. faze, *Nitrobacter*). Nitrati mogu biti reducirani u procesu asimilacije te dušik iz njih biti ugrađen u stanice mikroorganizama i biljaka.

Disimilatorna redukcija nitrata tip je anaerobnog disanja u kojem nitrat služi kao terminalni akceptor elektrona i pri tome bude reduciran do nitrita i dušikovih oksida. Ako je krajnji produkt ovog procesa amonijak, govorimo o natražnoj amonifikaciji, a ako je produkt neki plinoviti oblik dušikovih oksida (NO, N<sub>2</sub>O) ili molekularni dušik (N<sub>2</sub>), o denitrifikaciji. Time se denitrifikacijom molekularni dušik vraća u atmosferu. Anammox bakterije (engl. anaerobic ammonium oxidation) sudjeluju u prevođenju amonijeva iona i nitrita u plinoviti N<sub>2</sub>.

![Slika 72. Ciklus kruženja dušika u prirodi.](/images/slika72.jpg)

  </div>

</ChapterLayout>