---
import ChapterLayout from '../components/ChapterLayout.astro';
---

<ChapterLayout 
  title="Test stranica" 
  description="Test opisa"
>
  <h1>Test sadržaj</h1>
  <p>Ovo je test stranica.</p>
</ChapterLayout>
